<h1>Park Info</h1>
<p>Park: <%= @amusement_park.name %></p>
<p>Price of Admission: $<%= @amusement_park.admission_cost %></p>
<section id="park_mechanics">
  <h3>Park Mechanics</h3>
  <% @amusement_park.unique_mechanics.each do |mechanic| %>
    <section id= "mechanic-<%= mechanic.id %>">
      <p><%= mechanic.name %></p>
    </section>
  <% end %>
</section>

<section id="park_rides">
  <h3>Park Rides</h3>
  <% @amusement_park.rides.ordered_by_mechanic.each do |ride| %>
    <section id= "ride-<%= ride.id %>">
      <p>Ride Name: <%= ride.name %></p>
      <p>Average Experience of Ride Mechanics: <%= ride.average_experience %></p>
    </section>
  <% end %>
</section>